<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.beigesoft.uml.android"
    android:versionCode="3"
    android:versionName="1.2" >

  <uses-sdk
    android:minSdkVersion="11"
    android:targetSdkVersion="28" />

  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
  <application
    android:name="org.beigesoft.android.app.ApplicationPlus"
    android:allowBackup="false"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/AppTheme" >
    <activity
      android:name="org.beigesoft.uml.android.ActivityUml"
      android:label="@string/app_name" >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name="org.beigesoft.android.treechooser.ActivityTreeChooser"
      android:label="@string/tree_chooser" />
  </application>

</manifest>
